<html class="loaded" lang="en" data-textdirection="ltr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        /* Media query for mobile phones */
        @media screen and (max-width: 480px) {
            table {
                font-size: 5px !important;
            }

            .photo {
                max-width: 40px;
            }

            .note-text {
                font-size: 6px !important;
            }
        }

        /* Extra Small Devices (phones) */
        @media screen and (max-width: 575.98px) {
            table {
                font-size: 5px !important;
            }

            .photo {
                max-width: 50px;
            }
        }

        /* Small Devices (tablets) */
        @media screen and (min-width: 576px) and (max-width: 767.98px) {
            table {
                font-size: 10px !important;
            }

            .photo {
                max-width: 60px;
            }

            .note-text {
                font-size: 10px !important;
            }
        }

        /* Medium Devices (landscape tablets) */
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            table {
                font-size: 12px !important;
            }

            .photo {
                max-width: 70px;
            }

            .note-text {
                font-size: 10px !important;
            }
        }

        /* Large Devices (laptops and desktops) */
        @media screen and (min-width: 992px) and (max-width: 1199.98px) {
            table {
                font-size: 12px !important;
            }

            .photo {
                max-width: 100px;
            }

            .note-text {
                font-size: 10px !important;
            }
        }

        /* Extra Large Devices (large desktops) */
        @media screen and (min-width: 1200px) {
            table {
                font-size: 12px !important;
            }

            .photo {
                max-width: 100px;
            }

            .note-text {
                font-size: 10px !important;
            }
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="MacChin">
    <title>ID Pass - NIN Verification Result </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://idpass.com.ng/assets/images/favicon.png">
    <link href="/static/css/css" rel="stylesheet">
    <link href="/static/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/palette-gradient.css">
    <!-- END Page Level CSS-->

    <link rel="stylesheet" type="text/css" href="/static/css/app-invoice.css">
</head>

<body class="vertical-layout 1-column fixed-navbar pace-done menu-expanded vertical-menu" data-open="click"
    data-menu="vertical-menu" data-col="1-column">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="form-components">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">NIN Normal Slip</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div style="border: 2px solid black;">
                                                        <table style="width: 100%;" class="table-borderless">
                                                            <tbody>
                                                                <tr class="text-center"
                                                                    style="border-bottom: 1px solid black;">
                                                                    <td>
                                                                        <img src="/static/img/nin_slip_header.jpg"
                                                                            class="img-fluid">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <table style="width: 100%; font-size: 12px;"
                                                            class="table-borderless info-table">
                                                            <tbody>
                                                                <tr style="border-bottom: 1px solid black;">
                                                                    <td style="padding-left: 3px;"><b>Tracking ID:</b>
                                                                    </td>
                                                                    <td
                                                                        style="border-right: 1px solid black; padding-right: 3px;">
                                                                        S1E9NVQ8C4V08U6</td>
                                                                    <td style="padding-left: 3px;"><b>Surname:</b></td>
                                                                    <td style="padding-right: 3px;"><%= lastName %></td>
                                                                    <td rowspan="4" class="border-none"
                                                                        style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 3px;">
                                                                        <b>Address:</b> <br>
                                                                        SARAN BANZA YADO'BUKKUYUM
                                                                        <br><br>
                                                                        Bukkuyum
                                                                        <br>
                                                                        Zamfara
                                                                    </td>
                                                                    <td rowspan="4" class="border-left-none"
                                                                        align="center">
                                                                        <img src="<%= photoData %>" class="photo">
                                                                    </td>
                                                                </tr>

                                                                <tr style="border-bottom: 1px solid black;">
                                                                    <td style="padding-left: 3px;"><b>NIN:</b></td>
                                                                    <td
                                                                        style="border-right: 1px solid black; padding-right: 3px;">
                                                                        <%= ninNumber %></td>
                                                                    <td style="padding-left: 3px;"><b>First Name:</b>
                                                                    </td>
                                                                    <td><%= firstName %></td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="border-right: 1px solid black;"
                                                                        colspan="2"></td>
                                                                    <td
                                                                        style="border-bottom: 1px solid black; padding-left: 3px;">
                                                                        <b>Middle Name:</b>
                                                                    </td>
                                                                    <td style="border-bottom: 1px solid black;">JAIDO
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="width-100 border-none" colspan="2"></td>
                                                                    <td
                                                                        style="border-left: 1px solid black; padding-left: 3px;">
                                                                        <b>Gender:</b>
                                                                    </td>
                                                                    <td class="border-left-none border-right-thick">
                                                                        Male
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <table style="width: 100%;" class="table-borderless">
                                                            <tbody>
                                                                <tr
                                                                    style="border-top: 1px solid black; border-bottom: 1px solid black;">
                                                                    <td class="text-center text-bold border-left-none"
                                                                        style="width:20%;">
                                                                        <p style="margin:5px 0px; font-size:12px; "
                                                                            class="note-text"><b>Note:</b> This
                                                                            transaction slip does not confer the right
                                                                            to the <b>General Multipurpose card</b> (For
                                                                            any enquiry, please contact) </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <table style="width: 100%; font-size: 12px;"
                                                            class="table-borderless base-table">
                                                            <tbody>
                                                                <tr class="text-center">
                                                                    <td>
                                                                        <img src="/static/img/nin_slip_footer.jpg"
                                                                            class="img-fluid">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-8 mt-1">
                                                <hr>
                                                <form method="POST" action="https://idpass.com.ng/nin/download-slip">
                                                    <input type="hidden" name="_token"
                                                        value="0zFzTfDYx5RGZ0abwasX5CASQjzW815m0WXc1JI9"> <input
                                                        type="hidden" name="verificationType" value="nin-normal-slip">
                                                    <input type="hidden" name="downloadData"
                                                        value="{&quot;trackingId&quot;:&quot;S1E9NVQ8C4V08U6&quot;,&quot;nin&quot;:&quot;13068169196&quot;,&quot;surname&quot;:&quot;ABUBAKAR&quot;,&quot;firstname&quot;:&quot;ALIYU&quot;,&quot;middlename&quot;:&quot;JAIDO&quot;,&quot;gender&quot;:&quot;m&quot;,&quot;residence_AdressLine1&quot;:&quot;SARAN BANZA YADO'BUKKUYUM&quot;,&quot;photo&quot;:&quot;\/9j\/4AAQSkZJRgABAgAAAQABAAD\/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a\nHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL\/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy\nMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL\/wAARCAHSAV4DASIA\nAhEBAxEB\/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL\/8QAtRAAAgEDAwIEAwUFBAQA\nAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3\nODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm\np6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6\/8QAHwEA\nAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL\/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx\nBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK\nU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3\nuLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6\/9oADAMBAAIRAxEAPwDvtrFe\nhpjoAQSwHsaSVpBESGxUOPMUb85FICQNtJz1PamqcKxPftUflknIFPBKoQDk0xCx8c0\/zACfpURJ\nA96UMAvTJoAB8zVKX\/hwaYCMDHBphdt\/AJoAHj7nikEeVBJwM05vMJ5AxTGDMBkgAGkMay\/Nml2g\nkGnY3DqKVQBgGmIeRgVE3TipmX0IqMrkduKAGlto4NI0hIxjikIGc075TznmgBmwEimEBcmpC3zY\nFNOCORQAxm+X60xjyMZqRlDcAVCylThScUhjwc+lPBPXiq6FsjjjvUh69c0xDyQVOaRceZxz9TTe\noPYikGGJwelAC7gW5\/OlVxgg\/hSbMHJ6UpiCqSGBGeQOooAmgcbWbd7EGl5UEZ61FtAXCjKt1qZ8\nsCQMLx07UARSKzFQx7dqjUyxNgEkD1qbfyM4ximsoPzRmgBXO5gdxDD0qU4yhB2tnn3qB1GMjg1K\nXH7sgbuKAAkruZVHXDY9KJAvlowTHPOKVmxkqpBJ6UjtjABwNvIoAkddzmTOQBgj0psZwCvJB5qR\nQxLbSfmUAehpEfaFUlWyeooAViUwy\/NUkoEsK70B28+hxUDv\/rAM8GnG4Bf5gdu3AJpgEYMzu6tw\nBgc8ipJFlbyA86Bv4Tjr9arwxMF3xlWcHJXPWiZC8hKDBA3bSaQD5Wa2uXDgFG5IHrUsOoQGZVkD\nYA280DbPh0Zdz\/wt61n3H7qYlUwfQ0AdCbETWRktyGTIx7HNVDBcF9zDcMYweKo2WpXFqCEf5SeV\nrWsNT+2O4mi3helMCkUMh5P4U1kYHAYClfOOv5VCzYHIJqRjikiNkMD9KVW4ORUYLAZH5GpUcydA\nAfSmIYRg9c07K44yTSbHUnNKr7R0zQAoG49KXcBzSclc9PSmoCuc5NACtgnIJBprxgkZPNKQuSxB\n9qa4P3jn8KQxflVRjk0qFmzuFM2huBxTwMDBNMQjMA2MGmhhggcfhSuQDgCmtyD15oATnb60oGF+\n6M0ABR8zgCkbCjJbP0oAQDIJxg0cjg80hYheOlA5A5oAM59hTPLHr+dPK80p+UdRQBFwvHUetM3D\ndjHB709z0B6Uw4JO0dKQxygZBJANJlQWBxUe5c5bOB1xUpiyQy8g9KAFRwMKFBBqTAA3Hgg9qjHy\nkHtQ7e3WmBIVwQVOAeaOucE5poJVP5U5XBGCpz2NAhflZ9sgwCMZxTFIQnA9qV33qOCGFMIcLxQA\nuWZjnkfyqVQHdCM4xTUYrzgAkc07kZA9O1ADVV8EE4weM0b5DtBQZz+YpITIASXBDDGDT9m8IMZO\neOaAHoIwVypOG555FCIDcOAnyjofSleM+ZjkMOgNIAyMXGc5wRQAHO3sGB6+tJLiSMbMgngr6e9O\nbDc9B1prFHuPlOOOBQAQlftEa5IIHVfWpbofdmhRsj7241BEpSb5QWXuw6ipIVMsvkyTFcnHPemB\nK8cZ8ueKRfn\/AIQOhqGWNZXLKMN3BqT7MYpHjRmdTnj0PrTo0c2xkARpVPIB5x9KQFWS28tSQTk8\njjirWlOluXE0ZywyCe9SyTNNYhgFZc4BxypqqGknhER2loyec4OKYEjEhcg7frUTBieTUkgAGM5q\nFRkkFqkY1495BJxigK38Jp2VAzgsPalWVccLgUANYyLgck96lVuSTwKiOS2S35U8YA55piFVvMJO\neD0FOGfemqgHSn\/NnI6CgBGPAGDUewkcMafg8ljQ5VRgd6QxAuOhpwyepzTduBkU4vgYI5piEyoY\n55NI3rn8KQHBJGKaz+Ycjg96AI2j87AqRQiKQ+MDvTQSMZqPy\/mbnIagCVwvBB4NNOO1NG8MBkbc\nYoC4Oc0AKOaXjPBz9aT5jwvQdKTJHJHNACSAMvAqNQ44VcjHepj83YigNnZzjmkMhxuO0gCgb0HT\njPPNTYDMTt5pMjGSuKYhqnIOBSMG43ClwR0PWky6EqTn0oAeMbQetOGd4z8q9s0wA7Rmn4JQ7j0o\nAbIfnOOpPWmqsh+UHn60kgIPTijBUZ\/WgCVFdhgjPFWI0dICwiV8DluuKqwCRzkttU9STT4iUV1L\nspIxjsaBjXLAAhQQTxmn7Q7jAwv8qQMfICfeAODx0ohkbzZMkdOlAh0hZZRJk4PrUxKyFSCQSc8V\nHuHyOTwD0NMkWQyZVsAnIxQBKQQhJ6Zxk1HJGUaMgDJxyKaXZXbzCSpHK1MdpjyqZQcc9KABkUu+\n4lWPQdjTIIGZxMSeGHSnMZDEDGvX8ak09z5NykncZ9qAEujOtwZ1O0A4yKFji84SbXbeueDg\/WiU\nyqy5VM7cMoPWiGRYZYz5JYhiMmmBJBC6eYisRuwcH9Kc9oJ23qnlyDhx61WuLxmixtZWViqnPar0\nDmRvNZt6OoP0NIZSdffimFEbocDvStyc5phZeaQCBRj92flo8otkFqckeR8pwPSnlcZPagCIQgdD\nUg+RexpgUEE04LwOaAHgjdjPWg4VtmTj1zTQpRi2OKRSCSMcUAKW3SBR0prSAy7SMY6U1pMOdkbH\n3pUDY+dOfWgCQZA4pQQR83WgE+w+tB6UxDCAOF\/GkyFbOPxpT8vIGTTT8wOef6UAG7dzTRu9j9KU\nDsDSEFTxQAgjxnBPuDShcjOaFCkkg\/N3oxk8UAIOG5NLznpk9qTODzQT60AJlg2D0oKrkntR5gBJ\nAzjtSttbkDg9qAGhgOOtLwV6c0nTgLzTihYZ6e9AEfzrjHNOZuhPXvQykDrSjOwBwPrQAOzADHek\nZX8snPBPWmu5XG1cjFAbKjdw3pQMHL7cg5BGMURb9hbOcUrHC9qRPuMVOaALAQSWxJTaEP3getKn\nlnOSW\/u1HAo2OpkwDztpEQhwfukZ57UAORT5zKPl3U9VCsVYgsAe3WjeSqSdDnBI7U0jfPkNhj3P\negQ4SRxyINuQeoNK5ICkEYJ49qSVMPnGTinKyOgjIIc8496AEkIfYWA3fzqRwZIGRU2PnO3saqyI\n7sEJwKlkaQ7AXwycZoAGkMcHyNhwelSxSrPbGN4tsowBjgOPQ1WfLgtld46kVKtw5tTvT5kOVIoA\ne8o+RhCN68MAaILoxzYfHlN1U9jTHmilRpUUgjG6opUV4FdM5JoAuXcMcm\/ywQuMjnvT9Pe2e38i\nYOCnIIqsJnVFSQYVl4NEEKsm83Bz0wtAxrYyRkZpCFUdM0irg7z196cDu7UgIjuyCpxTmmJbb1GO\naeo55HFKVUc4oAj4UBhyPSpl2sB2qHbuOQfwpSu\/gnBoAmO0HbuyBSEL\/AM1GGQHbg59aGZVOBn6\nigAYZOOmOtIZTwqHNMEm5dp70hAzxwB6UAWMEj0NIcjvUSS7zjccehFPLDdtJJ\/CmAoOaa4A6nmg\nDnrQMnqKBB9zgdaYzEcmnYZSWNNMpL4K8etAxBg8g807cR700pzTuMYoEIjsCSwpThugxmmSTRxj\n53UL7mqdzrNrAuRKp+hosBcGBgClLfPjFYX\/AAktqBwG+uKhPigMcCI7fWizA6J2C5DAk+tMDY+X\nnBrAXxMD8rRMR61Zg1y1n4yUI\/vUWA1eVXrkUquSOelRo6yJvRwwNTfNtzigYrKd3PI9qNqnqaRS\nQPmOaChI7UAMJUjHQinrHhAxwOaQiMEbhzSyMFUbMkUAOGwR52ZPqOtN3Ls2knBp7copUY9aa+cf\ndHtQA6OfaQsiblz19qWRVMxwSmOfwpYtz4GwONvzCgpu25B\/EUCHyFG2OjllHB9qjlk2lWQ4OetO\nXbsPl5B7ikf7oYJx3FAx7mOeMurcjqKjXJyzAkHse1NZFUeYh28ciiKVlRopuRnj2oAkHlBGPIYf\nrS71RfMVSd3XNRuow\/zZxzj1p8Fx5kLRNHnHI96AGDMu\/AA4xgVJaRiaF0jIyPXqKjAhkA8slGA6\nE023jkLkof1xQBPiRYSrncAcEEcinIFUYRgvei0DS7w2W9yaguM+adoxigCRnOAKQNtHPJqIylT\/\nAIUG554xx60gJl+dSS2PTNKV45aoBPvHIFIrhcsQSaAJg4DHapOO9KSu8HkE9jVZmDRtvyAe2adF\nPDtC55HrQBYYku3yjb29aTYgBOMe1VlALluRzxiplCliTkMOgoAkEaCFpMgMvG31qDzJEBJQnNSH\nG4KOaC2DuOcDt60ANyDgkYp+MtnnpSQJ5pbsOvzUMWUccDpQA7Kng01iAvy556Gl4cEDrUZ+UBQK\nYAWlI+ZvwphU4H1p7SRRjLnBHfNc5qXiUIxjthwMgn3osI2rjUILc\/vGAwfWsO\/8TbHK2oHHeuau\nLqWd2d3JJ5qrkls5pgX7nUp7liZHJz2BqsZTu56VGoH\/AAKhsZ9+lAyQybhjFNRicAGmZxxQGI+b\n0pgWBKy8E05ZAfrVbK565JpyNnIBoEaUF9PBjy5CMdia3LPXyfln4PqO9ctkjGBzUgbd04alYD0G\nO4WRQyHIPSpTnaWx+VcTp2qS2b7TnZ\/drprTUYbpMb9p9DQ0BcIIbk5B6U5JPlKkYPrSYUr97Ioa\nM4G0HFIZYyFQkEnI5BqHzQ37thz2NJ8yADn3zQRvQMBz1oAWFBhw6sHJ4NTAuqgMWPvTYNrnaX+b\nt607uVLFv50ADMScjH0NRjzV+6QeemKeVZSGBIOOQaHkXbyvzelACMFkULg7mHSooxkbG6noTUxL\nARkA5zziljCtKxIZT2P+NADVw0ZY8FOv0pEdNwOxwR\/EoqTc4cggMDwcDtTC5iw21tnTrQArKizB\ntuQy9aS3VkLyZHoc1IHhYIDIu3tTxFGY3JOfTHegCC1VkuAWL4IwSBVhpUWQhihUjIcjrTQ7kqu5\nuuQDxgUkrqDzj8qAKZb5OQAaY\/JGKN6SMQD0pX+UgLgmkA1JGRsMvy0puEb5QuBSgHB3kU0kbTtA\noARmBXK80iopOT360wkcKRz61NGVIPTigCSOVcbVG3Hr3pd2M5OSfSo2RCOe\/cU3KRgj5ivc0AWA\nyxjJOKQS7ssQStQLNCOBuP1oEkkhO3KrQBbBDgbAQO+afl8YbGKro+B9\/wDSpdwC7mbGKAFYEH5a\nr3V9b2aFppVGOw5NZOs+IFgBitmO\/ua5Ke7muXJdy2evNUI0dU1mW7mcRORD2FY5y9SCNmIwOKlS\n2YnA7+1A0imQc4FOCgdcmtMaZJtz3NA009Hbk0XHZmWevTFNKgndW0NKxjdg+hzTxo7FxuA2mlcf\nKYQppU4NdKdDAwQP1pkmliFSWUZHNFw5TngnTIxUybc89a0XhX+4MVELeMnpRcOUhRMLnrmp0ty4\nBDYx196kSFT8tPMLocquRRcViExZwKRHkgcEZGKuxWUrtuAOO4NWDp0kisApUqMjI60xWLulamJ0\nEchIbsa2V+cACQqR61xOwxSbhlWB9a29M1MZ2TjLZ+U5oA3mLbw2QRQ3HINJ5gJ3AgCmGVucICe1\nIB0LYf7gBH8VSudx3A4Y01CxJ4AGORTg67RnI\/CkA4f6vBYuR3PejzY2wuwimyMFAHzA9iBSghxx\nuJ+lMBoQNgKzL3FTmaSOVHABJ4IPQ1CV+fOGQ+lLGy+Ww3tkdM0ASvKC7F8J3wOKY6lgNo68+uRS\nZl8oH5R6N3pFfKKjDJBwGBoAjZUjYHyyR\/FWhCsRTfH3HyjPSqrbVO11PTPWolDg7484xyD2oAsz\nLIkqllPUYNBTzMkEHnoe1MeZDBGWYyc4J6Yp29Uc4cKCOlAGeVwPu8+1CowcNn86U7iQMflS7mJ2\ngYA9aQAyl2PIIFNJRRtUgt6U2QMoPPWoQqod56j0oAkIJIzT9oxyccUwM0mHyMelKq7yc5oAXewY\nbelPYhsYNG0qenFNJAIypNACjaDnvR8xHytjNMDg5O0\/Sj+EAkhj6UASFWjYIT26mqGsXgtrQ4bD\nNwKub2Y5ZiQo4zXH67em4uygPyocAe9NAZ8kpdiW5qW0tzPJwOO9VkGeO5resIPKhByMnrQxpEkW\nnjOHHFaEdsqLhQAQKjQ4565q9APMOAeSKlMuxC8IIFUZflbp9K17uFlUOc5FYs7BiMcY60xpCq46\nHOKtRzL5eMY96zS+ORR5xzwKm5Tia5vItoBXaQOu7NVLudH78evrVTzABgnjvVeVwx47U7hyhJIC\nCBUG\/wB6HJx1qDdRcfKWUk+brV2CQYAxmskP61bgmKshz0POaEyXE6azXftx071vpYblG1gcDjNc\ntZXOTwenau50iHzbcbcseME9uasyascleaKss7OqBSeSD0rCvLJrRwc8Hp7V6PqcLQMryDKk43Ad\na5q\/t4bmNlwQAMj60CKmlX4mjEbn94lagI6lhtPcVx4drS5DD+E\/nXRrKZYEZPukZxSYFz5UJADH\nf\/ET\/KnKSflzkrzVWNiqBWzjqBTxIxy8agcAnNIC15uCAwIY9KGmZWALHkdqhkkLIHB5pm8Mo7+\/\negCYSyMo3HJU4pfN2EnCgH1qAT4YqyfQjvTXlUxY59s0wLkcyhHXIx1qITrJGYxuT5uDVckNbggb\niD3pefMKFwuQGBHagC9uYfKfmPTNIGy5CnqOhqtL5qOjcg929adDcGRnjm2ngleOlAE6+U8ZXGCr\ndBUM2AwyQfbuKEk+XJUjnlh3qOSVkC7SM45J70AN3NgANgU8SeUCPvNQpUZO3nsKRULNu4pAMVnk\nLZG4mkeIg8nipG7gMFFQ5CZ53UAGwFMBsfSnqJAuNwOaiMjFQFXvUq7Aox940AP2sFyzZFAIIyOo\n7GmnI9CKUnKcDBoAUtsj4HJ9Ka0S5Hz4J7d6Zn5920j3zxTBuMhft2zQAs8iJE+TgKDzXAXMvmXD\nt6tmu5v2iisZWOenSuDYgyE+9NASQHMy5roISNlYNqm6QHtWzEcCpZpFFwPtPFXLK4Ktu3AZ4rLE\nmOKcj7TzQXY6Se6R4Nmc8YrAuFzJ8vQ05JGIwTnNOK5BpNglYoMmMjvSONoqy8YFV3XAzUlkDMfw\nqMnin4A60m3cOOlBRER8tREc1YKkfSo2HNIbRDjHWnxtjFLt+tKqseAKq5DRagmKNuU12OgeI1to\nTCx54Kg1xSxso6GrEUhX25q0zOUbndajrhvIwM\/KM\/KayGuEkYMuc9CKyhcxlQc4Puacs+HHzA07\nmVivqSjzW9COKn0iYOjxOT8vQVWviXIOagsZDHdKwPJ4NANHTxxnmLdgjpmkQlJHJz6U1Q8qJIw3\nEH7wPSn4UynEgywoEP3ZIBORjg1G7KoyVyAeSKEba+xm6+lI67jwevBzSAcpRuATtxuXPakkBEZJ\nAKjpilQgFlI56Ee1BXKkZOM+lACqUa2KhT60vInjymQVwR2pDtZcbsEjpSb2aNTGCSvUDrQBJGCd\nyAEsOzGlVB5ZkIBIJB9qjSWOUhJWKN\/Ce9JFIgeRGzuPQ0wHO+AUQHnpzR8jkKxwABjnFR78NiT7\nvqBSMkfGwg\/WgCxgseQaQqVUdQO1PGdvB5prs+9QSCBSAjfCgjPJpCFWMbgTmnNneWYcdqaoLcsT\ngUAOXAXp2pMLjjqPekzwSTkVESzucng0AScO429ac4O7qcj0oRfkzjAHf1pNzIhKgZJoASVQV5bb\n7UwSBRsBOR60OGkXnGc00qFIz196GBR1mXFg\/qe9cfjc1dVrhH2JlHc1yqgBqfQEXbUe1XhJiq0A\n+TIqQ1LNool388VKvJBLc1WAPBqxGd+BjkelIst25AJJz7VcVgSBgVTjUDg5GKmV+fahgLIqEsC3\nOfyqnIuABmrbMpJ9\/aq0wDNkdKlsaRVki96ZsKg4FWG6ZpoI7ilcqxCy5AzxSbV6YqRhzSY59qQ2\nJ5YPQVKkSqPeheRmlLYHTk1SJYpA7nk1GR6UuO5FNxkVaIaDp70quEPSmYJbrxSFgH5pkWLEjGSP\nms9WKSAjjBq6pBU1nyjElBDOstikkSsrlG7g9DU4TDZV1z6YqjpzF7FA+MdjViNcS8HPGaZJKHjD\nn5CG9c0sm1hk5GOtNO3HqKN8bDGWzjHSkA\/neCuWGKFkLMykDgfnULsUIZScUdV8xPzoAlWQOhBw\nCDx601JGIcKqkjo3cUxirkNgZpVLKwYAehoAATt+fDHpnvTlX51Lc45461GuS0gBHPIzShm3D1I6\n0ATI4IZSc57d6ijbDsFjDilBUPv3\/N3GKYRvO5W59qALRBA2N8pz0p4QAcHmr4sbIr5xuiVx93Hz\nZqjIUD\/LlV96AGbSRuc5pudwwMipNof7pyPajaF5PGO2etAEezjBwBQAOm3inK0ZYk5XHrSKc89v\nUUALIMIO59KDhyoIwBRwWGASRShsE\/LyKAIiwBOwA\/WmMQetTkqFGV5Pao3Vt2MCgDC8RuEt1UHr\n7VzUf3gK6fxKoa0Ru4ODXLRZ3jNA0akJxHwKk6mmRj5BTyCDxUm8QKN2qaEtnB4PrSLyNueamjU4\npXKsTb2CjPzHNPDHBzSIhK8Dml2FTSbCwx3ORSAgAsaXG4kHrQVGMUrl2ImOc1ETx0qUjJNRnpSG\nIOaUccUgIHFPCg9KAADA96aQKl20KmetMTRXLAUzfngVZkiAHSo\/Ixg4q0yGM3fKRiojk9aldNpx\nThEWT7uSD2pkMbEzYwaq3eQ+atKMGq95naCKaM2bekS7rDk4wc1eZoz91wcjr6VkaMWNu2F+prUR\nATjOCO3rTZmh+4bcMRx6U1nUYK8+uKTZwTnimlQB8uRSGKxxgHOD60\/aVXr8voKj5YbASe9PBABA\nJyaAA5wpx0OKcuS5wAQetM3vldx6H9KdlV3jdgN7UAKsnlsRIgKe3ansxRyqYIIzyM0yRc4KnOQB\nSEuUXA+YcGgAiYAHg7iabIXB+Q4PepETa2WKjPJpA+1m+UYPrQBdVhkjr9aYwLn2pQBuzS9sgUDG\nhpIxhTtBpqgs+WyTSksx5pRnOAeTQIUqOmRnrSg4O0ZpAmz72M+1G8k4HA9aQA8ig8fSmh9sY+Xk\n05lXA5x\/WgkiMttz2FMCJnPm7gcn0IpdzE5I59qQscjg5PpTgCmSc\/Q0AYviFf8AQs+\/SuVj++OO\n9dfrsElxZl1GAorj84OO9MDXjHyip0TJqvB8yrj0q4rBRyKyZ0R2HpAmM55q1CitlTWc10qdzTJN\nWEZ3KDmmlcbZutEI1zwPQ1VmlVVBLZPqK52fWp5M\/NgVUbUJG6uTQ4kqoup0ZuFxwaTzsjJNc+l8\n\/wBRViO+3cHipcWjRTizVZ\/eoy3HBqv5oI4p8bZHNTqaDw+CBipBJtNQnpmonkwKAZeEoz1FKJlH\nJNY8t1tGAaqSXj+tWoszc0jpRMrggEEn3qzvWOMBsZ6YrjftD5+8fzqVLyVGB80k+9WomLqXOjuF\nAORznvUSnn7xHuKoR6jJIMM4NSicsecD6UWBO5cZcYIOfeq16P3HvmpYZcnaelQ6iwWID1poJbGl\nohItmwTg9cVpqcrnb+NUNHXyLNDtyTya0QSCcKMe9MyGbSTmkJZWBzx0qdgCvzcVANpO3gmkA3dg\njnBzyRTyyjr+GKaV+YYXPelG0k5JB9MUDJMBnG0dqAOhKg46imD7wwcY7mh9xOCQw9VNAhzkEjbk\ndhUibjEOSQvemA\/NtIGO3rSpII2IccHrQA5X3krtUL6nrmosbWOT+dSFElUtGcgH7o61DISpyp\/A\n0AaXl8EnpSLtxzwKmW3u7RX85B84wM9KrhMjJoGOOM\/KRim7erDBp5TaOelMByMLkAUCEC4yepp6\ncZyMmgtkYHFLkg4Q5pANKlm5FI6NtGeBSguDz19aQI7ElnNMCMna3Axis661QJceSHAkHrWmTgdM\n1y\/iKBo7+O4AxuXBx60DW5ek1jjyrhRsbjctc1fwiG5baQVPIIq0somj2vTpLdXhJHpSuW4BaN+5\nU1JPNgcVFCNkAzUU0oGcgk1D3NI7DT+8bJOAKje3Dj\/XD6VEXY8s21fTNMacRAFUO08ZqkJtA1sB\n\/GT+FIbZccbs0stw6qzKyMAe3U8elSAz+UJNgdCoO5DkD2PpTsydCsYNvJyKciHP0qwHSVSA3J7V\nFArPIwHG3rQ2xqxYjDe9Wog2OKfEimLd61Pb7Q547Vk3qbrQiwSKryo2M9KuLIuW44HSq0rBsnsK\nEJsz5R61Bs3HAGTS3EpLcetW4Y1jQMx7VqjB7lYWpzzUgtUB6nNSvPEOhyTUIuVyOvNGotCSK23N\n94A+9WGgMYzuB+hzUAlVweeKblhypo1GrFyJ\/mHNS3p3JEAMkmqcbHIJFX2A8uIntzQhyNKK8hs4\nEQ5MuB8oNXTdRDy0ZlEkvRBzXMSn980mT+NSadI0urRMOoyfpxVGdjqPMYAAkLjjkUjDJzhVJ7ik\nLbgOMt3zSGJmAOaQhSSpBDZI9KNzuefzpSWUYwM+4prhj35FAgJYkBhx3p27YQRzjpmm5wTxml82\nQY2gD2oAlkbOJBgHvjmmt87An5ge9LjeARjPfHam8FlCscd6AItjK+UO3mrDAuoL4IphO3uOfWiO\nYKu1n5+maYGjO7HZ+8LDuPSo1BY8EimlcSYP404spbCgikAjoTJyeKePkGFXJNMKsDnrSrkHngmg\nB2dzdDSrGd2FIzQv3jt\/Oml9oIzyaADaxbGc+9MZGIwGIxTlO1TjJph3bck0AOAVFJZuKy9aj8+w\nLHA2MNvrWiUynPequpIf7PcAcjmga3OZtoFk2qTt4pN7ITGfpUTyNG3HFRxTma6ww\/Go6nR0Lm39\n3iq7Ql84q7tyvFSRRAmkCWhjvYchie\/Q1oSwW15aCBcRyDkbh3q1LbjbkdaqNvX5dv05ouHKY72U\nscpjchfVs1p2rQ2dsyRuZPMHzDFI6Ek9PrUTKVHH51TlcSjbUqTx\/vS4QqO2DTrdQASwIPZv6VKI\nmduak8otx0A60N6Ao6kiSbY8U6N2Cs20+xohty59q1LiJI7NAgHvWdjVGP5hwcdahZzg81YKgkio\nJI6IhJGfICr7yeR0FSqrSODIzKvsKkeIkZqSL5htzgitb6GFtRLu0haNJLdgSOGXPP1qmkTPtUAl\nu1aBiY9vypUjKNuwQR6UkwcSRdPihtC1wwV\/c1Qx8\/yMSK0Gy+fkyT3YZqW2sjI\/IOadw5SnEjHG\na0GO2AE9qmktPK4xTWXdEV9qQWKBBkHNXtDRUuZXI+ZVwPzH\/wBeqCPk7T64rS0dCbiWQ\/dJ5ppk\ntaG4\/bJOexpNpycdT6GhjG6\/Lkc9WoCFhuVgcelMzFDGQYPUcEUiSNyp6jpn0oCjOS2DTsx4yRhx\n6UAJvAQEj8qQk5YqCOOaVX3KV2ggdDQuN2d2CRyKAHAcANQQFI4wAcZppcFQOG9GprZYYx19KAJH\nAU5Vg2KbDLbZIlU59Qaj2BUz0HpUZCkYCY9\/WmBr4Xk55oBOOmacAhIzwKc2MgrSAiYkYHrTo+CS\n5\/GklYEYcY+lNUKVxnIoAk5JLdqQMDn5MAdSaQZUjHIp7OSnT5aAGDBBIyPrSEbhz0FHGODx701w\nTxnj1oAV2LjAOFFV7oB7aRec7TUm7HA5pzCMISz9RjgUAjhrobTz1plkv74sauarDtLAc7Tz9Kp2\nLfOyk81mzpi7o1F9M1ZiIUiqYIBFWVYcelJlRLxKlelVJF+lTZwNykVXaTOckfhUlWIJEUZNVSnm\nHip5H8w4FT28AHHc1RLRXjtj3GKV0VflXvV6RwEIB5qkilm5oGkPRNi8VbuFxYiowuSBVm8GyyUe\ntIowj1NRBuTmpHOCagJ+akhyHAfPjtTngaMhscGmg881oR7ZYwuatGTKq809QD1okjMR5\/CnoM80\nmNCoBkcmr8DxqMnORVRQvU5xUymMjC5zTG0SXM\/mnOAD6VULnNPkOKgzzRczcSgv\/Hyc9M10Okw\/\n6O57Fq5yDLXLegJzXV6ejLZxgnGRmrRnNk2wheoHPen7V4IPze3SkZd3HGfrTQu0A5GKZA4OyMBz\nn6Uq8s2VAND5OCCKTIyGGcdzQIUF8kY+X6UYYknAK\/TpSs3Tb09aXzlfgIfwoAc+HiHm7Rt6Mo5I\nqIuC4WIkjHBPFOUgqQqnI7U0kRsHKt9KAGMxGQ2ST1JpqsmSpbpViQwyJlW+fuKqFVU5d8fQZoA3\nFXfwFximHeZAMjHtSGVgSiHHrQrEA7u3pQA1xh87sn3pVBZuQPwpgznIGc9j2pwPOD19qAHu6xry\npyaiZWdcnIFPYZ9c0rSMEAUcd6AEUFm245AprtkkbsewpGZmDe\/pTdpVQOMD1oAdkLgKeTSOFHyg\nEsaVUBJbb096QZV84yx7DtQBj6taGN0lI6jDZ71jfYxnzYvXlfSuonjNxbyI+cn7uexrn2BQk9GH\nBFJmsJEWead5pUdaiYnOSMEmonbPes2bRZObhsYzxTfNLDiqzPSK5A4NKxVy\/CmSCauhwi47+tZU\nUjZFXIsu2TyKAJHO4Yxx60kAA65p8gwBxgVNBMiAjaM+9AIVEJOSOKlvWU2yxqMkdagkuCB1UfSp\nTcW5s2U\/6wnrQFmYzJTWhDLx1qf5TJz90nmpbs2ysvlNnjmlEJmWySJztJA6n0q5AVaEk\/hUkZIU\nlHxUKthj0yfStEQSAljh+QOmaeelRZYnOMUrS4GO9DBEgkIILLxTjKVOQSB7iqjS5\/i6U0y57mps\nVcsPNuNR53OO2Tiq5fPep7VPNfBbAxyaaIk0SQ2ymbyoh8hbk9zXRRoVRRghlGMGs6wtyD5qgqij\nC+v1rQXcyjLE4Oc1ojnbHN8wAPUHqBTcfxAZwcYNIDhsFSQT1zQXLNuMXC8DnrQIcV3N8pHFJGeW\nViSD2ofacHOPakJAcc4NADhwvDZApAONwX6dqXBJO3H0FNLL\/EpJHYGgCRnkD5MmeMEgVGd2RnJ+\ntOUrgkcg84pzFlw\/BzwRmmA3aNgVhxngimZijY7h5h9AelKvmKGAAK+uelMVSo3KQWPXigDXVdw3\nOcd6Y7HbxjHrSkpIxAyF9TTowp42grUgMA2ruY8mhCEORyTQ2C2Kdh8gZGPamArkscll+gpOcc0b\nQGzgUjDd0yMUABJCjApjjYRu54p2Nzdc4qJmbzSzHj0oAXBfk59gKPuHOQGx0zSsVK\/ISD71GFwf\nu7m9TQAuzIwzY+tZmo2Pm5khzv7j1rR2M1GQnTk0AnY5Ng4yHUqw9art1Jre1gqyo4XHOCaw5FwT\nUM3i7kDc0gWpVwDyKsDbt6A1JoMiGOtaVvHhQarW8OTk1oxrxUlFS7LIu70rGn1CYPhFLV0cqLIC\nGHFZj6cIpDICdueKpITfYzBe3G7EsTKPWrP2k7ep59ausUlQqw7daqPbBgRvyOwPagV2RC454NVp\nriXJ8tCxqwlmQp+apo40hTkHfTSQm2zMS9uUba6EVo27NLyKhljSZ97E59KsxSLGoVQBTJVyxuG0\nc4NQyOe2Ka8nemb80DI2OTkkCmbvQ056jzQK5IoJI7ntWza6ZIAHkYBf7orNs08y4RfeuoCqp4BA\n7jNUkZzkIiNsHAAHGBShDnHSlWRlIIBAzzS78KQ67v6U7GdwODncwDDtzTYictkHB6ZpWyORjmmI\nm0Fh396AJG6ZA5qINlipxnqKVXGODx6Gm5bf8qjNAEmCSG3baegLcsdvv61BlhJjGR705RuOd3Q\/\ndJoAfuVR0Oc49qQFVLA9D2NJtA7g0bd5wR\/jQA7ocKeR1FMEjliwbB6Yp3lPgtg\/U0ihhyGQA+tA\nGkVA9hT8oF2j8xTec8EMBSr94sVGKAG7h\/AcjtmnqCOgB+lRkAndwB6ChWLP8oIA70ATMwV8FSCP\nWm7g5pMkH5iWPrTSuehxQArMAPlH1qMjAyTkntSlW24UH3NNbHUmgBc8DgmguF4OSfrTSeR3pPk6\nYy3rQA4MAvC5zUZ2sxwuKeSBkYNCx55zQBS1KFZLJsA5XmuZbkV3Dp50LRYGCuM1xEytFcOjcFTg\n1LLhIiHBqaLFREDOafH1qDZM0I+wFWQ+0YqirgEUrS84FBdy75lRtLnI7VBk4ByKikuo1GAWdv7o\nppENhNsC54qsJkx1qT9\/Mf8AVoi45BNQyW8bjIYZ9qdhcxIbmIL15qATCRtq8k1GkK5JPNSoWgcS\nRqNw9KFEfMh\/lADBByai2EN1q2NQW4ASdVVv72ADTHGDgHI9adibkODTDwc1YJGcVG6jqKVh30IG\nOTTeppT1oFMhmjpke+cHptGc10SPwc4OexrI0mMLA0pH3jxWsAGG44yKpGbHhmA5IK+gFB2Y7ke9\nBOcELj1FIS2ccBfemIQsNo4pucuMNj6UpUgkU3rxgcUAB7jHI60Eo3KggjsaY24cYxz2pquMYI+7\n3pASFtvLcimhgSCeM9PlpDuZAxGAPfrSKXYByM44xQBICjEjcA1ISY33cnFMAUZ+b5vp0p7M2AAQ\ncUAShpC27JKMOlQgqGO7HpzTkkAAx1780ol7tAGFAGmCB2oYsy7QCKQcdRzS7s5zSAiyoOM5AqVX\nYIdvGemabGhfLcClzkZPApgORdq8n86MZIAYU0v6YwPWlymzLELQAkjZwqnA7mmnYQM4AHr3puEL\nAoT+NPwC3zyKSOgAoAYS2MhSM8UgXALKM470okfkRuSe9NLFn+bCj9KAAPJyFb86sJGxG5iPpTEf\nBJ+THTkU6OM7t\/r2oAcyFhgECuW1+ARX+4MCWUE49a6lsH1zXNa\/gXi4OfkGaTGtzGHNSp1FQ9DU\nyMOKg2RITg017hI+SRUU7YHFUjA8p3buKIjbsSS3ryZAOBTYrryj0BPvUf2XJADUNp8vzEzIoAyA\nR1q7EXbJmv5COoFRC4Yj0ohgRQROSTnjbRLCpT90CPrSbQ7MBcle9PW946VDHDjiRTn1pksOH\/d9\nMc59aaE0yV7lX4YDFOiuthAJyKqi2mBzng05oTtHJz6Uxamj56SUuazUSVGGcYNXoW3DmpaKUhWG\nMmkRTI4RepOKSZscZrS0e2LH7S4+6cAetNEtmxbqIoERMAqMH3qVlbGenrTNze4WpQQYgV455FUZ\nPUcsoAGFzjtQ+CDgEqetIOFzjP0o+Ur8pI9fagAVpApBUEfqKaVyeORQGHXJXHU0EDdhQTnvSGRP\nlELAHdSbxIo3AA9OBQ+FkG\/pn1pQG2FQRt7HHNACMmBtbqPekj5BDHDg8ccYp8aYX5nHHrToyGLK\nwP1HSgBuNz\/MSc+lOcD7rEKwpXClcKAT6imJhGLEjjnJ5NADkYp8gAK9zU8G0JuHzseq46UwHzWw\nO\/UYwae0htXIjC5I5LUwLCqwIYjrTXkBfj6U\/fGx3FSMe9I7Qkjywc981Ix6nC5GM0AFjy2aYMbu\nlPG6Q4RefWgQ4sF4KimbfMO9iB6ZqZLOcdEP1ap10omPdNJkn0NFx2KCspJz19qaVy2FPJ9BWkLW\n1iU9CR6mlBjGNuBn0FFwsUI7eQt8qkn34qSa3dQPMCIOv3s1oJJGrDOfy71zl9fy3moSW6q21Dgk\nClcdjSgtWu5hGj78+g4rWbS4rOAvNcDI\/hHepNHSO2t2baDjCg9DnvS24\/tPUGZlIhg+XHqalyGk\nU\/7P3Qm4kYRx9ct1riddkgkvj9ncugGM+9dH4w1dlc20TY7YFcSc456miLZVkMPIojbnmmtQDk1T\nAkkORUaybDSsTioSakotxzRluVGexqzFIhbawBB4PFZWacJSp61SYHSSWlnJbqgjVWwcMKw3tm8z\naOxpRqB24zURuiTwcUrFRkSzW\/3D7U0WuajF1gc0n2w84osJyFMYU7eKjdlU4HWmNMzE+9M\/GmTc\neSTUsY2jNQipl5wo70CZNY2rXdzk52Kck10Efy\/L29qZbW4tYAgHJ5JqcFicFQKtGbYA7fvZxUwA\nClgRzyBioSvqacrFE9RigkkTOTggfWgrjJB5pitkcjn3ppYluuKBkgcAcruNIAw4Z8A9KjG4NndQ\nRvI3ZwOlIBXBU\/McgUAqvIywPv0pzYZQMZqLbgE4yPSgBy7gpwM55NO+\/wAoDTVjJxgY\/GpMdADt\n9d3+NAAFK8laiJLPwATUpiYnJOPxqFgob5untTEXbWQ72yBu28g1BJtLEng1PbKvnEqEY46tSF1d\niWK8H+EYoAtxI85CqjZ7kCrkelSA\/MQv1rbjibphUHoop0ca+Yc8+5qLmiRjpZ28cgDlnY+lXIY\/\nlzHCqAdzTXBS449aseYoTB4qbjsQvv3dVH4UOoELNI2fT0qKWccgHis3WNREcKxoecetAWJnuIEy\nuATVKbUcfKuAPpWXDMzSksc8VJaxtPcAdiaANmxjZ0e4mOVVScVmaL80F1cH7zOTura1Eiz0SYjg\n7MViaM2NHkUHGVycUAbySldPR+rEM55\/CtTRE2aK8x4LFiTWIiCTS4Dux+6bJ\/EVq6fL\/wAU4NvO\nFfP5msnuUed+IHL6tLuOeazG46Voa6u3WJ1z0I\/kKznrZbCImppPORTmHpTKY2PySOKay\/lTQSKX\nHFIERtxUTFj0FTEilAAoHYrbJSOBTSswPINaaPGg5oaaPHAFFw5DMxIeoNJ82eRV95UwcAVAxDEc\nU0yWrEKEnipKUqBSUCHKMmrVsV+0xb\/uBgW+neqwOBU0B5zTA9BXS1uLRbi0k3QsM4Izj61Um0y6\nt03sgeI\/xIdw\/TpUfhDVpIZ3tSN4blUJ\/Sula4Sw1FQ8e23uFwyMcgMOOPwpOVhctzlVk3ghkC7e\nBxShg25R2roNRsIElLIqvC3zLtPK5rPl0v8AdLJBJlT2brVKVyWrGcrKuc\/NxTeHPYelPZSpIdCD\nUWeSOMDpQId8uBzk04ggcE1Gq8Yp4JAz1oAApAGw7fWmZBzjk9yRTiwbqMH2o4U8DrQIVD8uMj6G\ngKQSpbC9cEZpmwZyetKpY5AIb2NMBWHzYAzSEZ5yAR1AoLOF\/eHP4U0scYXv1oAnjnMSFFQHd\/Ea\nhPXhSfrQrDjLcYzSMecoxoA9HA4pvC5PrT5SI1yeKwr+\/dnCIcDPWsjYl1C4WGYYPUVQkvuetGpq\nXhicHJHBrOKnIyKEIna53EnPSsO\/mMtzjNaMp2Rk1ilt90adhFy2UtJxXSaVZKpD45FY2nxbpR9a\n6+2jCQ9O1SyjD8VS7dNMecZ4qhoyhtOIx1Wk8WXGSkQqzocX+hpn+7T6CNW0hL6XEAvA3Kf0qfRX\nVtKljP8Az0kXFFiypprxnqHNVdBxM97Fk\/LLuArN7lLY4rX126xLnqQD+lZj1u+KofK1MMVxuyv5\nVhuOK0QiEntTDT2FMzVDExmjPakzimk56UAI4wc1E0nOKl3Z6io2QNQK43zKPMpjLtpoOegoshcz\nHFiTSbyKQKTShCRTC44SE96lFRqgHSpM5oYC1PFxUIqVBnigDX0GQprVsQcHd\/Q13uukvYW1wGBa\nGdWBx2Jwf515zpLD+2rNfV\/6V6JqK50GUsPukEfnUyAiubjy0BD5UbSfoeKB8kBRmUqehHGKbqVr\nu0jzx99kANUdMvBPbiKT7wGD70kwsLHIk2YJxnH3WqGazeE8BWjPRjVG6X7PdkFnAycYNaelXDSo\nY2cSqf4XHarTJaM9gFPIJI6g0bzkkHA9K07zSjt8y2JIHJQ9RWUxAO0qd\/pTJFkYEZBzTQwZeoBH\nakDbjhsfhSoQTytMB6vkjJwKM7juxkdPSo3I6DgikG7BwduffrQIcDg47+vpS+WM\/NJye2KFAiGW\nwxPQdaEVmVmYjr0zQAGMKOo+tNKYOMkUrSZQLk47ZHSmAyAYVjQB319PlODWEw3PmtC7k+Q1mCTI\nY+lZdDYvSgSW30rNdNpzV\/d\/ooxVCTJoQWM++k2xmsu0XzJiau34LEKKdYW+3HFFxG1pNv8ANkji\nt138uJvTFU7CPy4s461DqVyY4yue1LcZyWtzeffYHODXR6YAsCL\/ALIrlSPNvtxOea6rTx8nXtTE\njR09fMNzHkDBDVR0ci2165hJPzr+tXITtuHUcB0K1TuH+z67DKFCjaAT69Kh7FGd4vtw0InGSVYH\nP161yLdK9I16xa4s5lHVkPHpXmoPy1UWC3I3qI1K9RHrVA0NOKbjFKaN1ADSaYTUhwR2qJx7UwYZ\nU03CmmYFFBI\/gDijPFMHXrTwD+FACA08dKb900A89KYEi9amQ9ajUdzUowBmkMn0kk+I7JP9o16Z\nq58nw3Pu5JU4\/OvNPDmZvFkJAzsBOPwr0vxCgOkiNScswB\/OlISJXKtoUasOqjJrkWBs79MHKk5F\ndPduI9OiXPHHNczq6kTxsDxgYpRAm1hchZAOoqnpdwY7pRk1oX2JNNjbvisCCXyrpc+tUI7+KTcA\nc8+veoL2wiuznASTswHWqttcYjUg5Bq6k+76UBY5y5tJbOTDA4z1xwaYCJBngEV1TxLLHgjen901\nh3ulMoMsA3L1KdxVJkNGc6EEE4pyu7LnauB+FJIgXaQevY9qjfBXjpTETYZXyVB46A0NMFcHy8+g\nNVT5qsu+RiueKl3\/AKd6AHeZk5IwB2oZvnypwKaTuO3b75oJCnGOaAOnvJMxms4PiNvfirV4wxgV\nQdwFA9TWRsawbFotUJpNoq4T\/oqD15rNmy0m2kBGkJlfcRWna2g3KMU21iwBWtZxAtnHAoAnjjEa\nY7Cue1aQsxrfvJRFEea5iVjPNj1PFCAp2diWbeRzmuksYCinI4pltahQABzWmkQSMUAU5D5TxyD+\nBsn6d6m1qyC2SSxjLoQWPtTpYw6sMdRVuyxeaeqN\/EpjYH1HSpY0SxbLzTUkxnIG4\/hXkusWx0\/W\nrq3YY+csvuDzXp2jTmBpLKQEYJAH0rl\/Hmju0a6hApZohh\/UrREZxTNkVEaUHcoI6Gg1oF7jPrTD\n14p5ANNxgUgG0hJpaQ9KYiMn2oxntTuKDincTGjjHSlyaDgU0mgQE5py9RTB1qVBxQMkXkc0rNlS\newqMHc2O1F24jtzjqeKYM1vAUTTeIpZcZ2xHPsS1ej6zkWkKE8mQfzrkPhjaAtd3JPVlQfh1\/nXY\n6yVa6tYwM\/OCazkwiU9XXESKowNpP1rn5m+0R7T95a6DVOBKMnAUY9q5pHCynjqaaEaTKX0naeqm\nuXuRsnUiuxRA1i+Bwa5LUl2TjiqBG9YyF7RTmrcczKcZ4rH0e4+Qoa088E0CNKzui7shPSroXflg\n21vWsCCQqznv0retpFaNV\/ixSAo32mJc5dAI5\/Ts1YEsXlOYnVgc\/MD2rsyqtwwyKrXmnxXceHGc\nfdfuv+NUmS0cqRCvBkDAdhzTW4O4DAPTFSXlhJZTAMuUb7rAcGosHIXdj6mmIDkMDuJXucUYTGSc\nH3oPyH+9+NDRs5yCoFAGzeSbu+Kz2bMsafjU95J82KqWxL6gB1xgVmao3psLCg\/2apom6Qmrdwcy\nYHQcUtvFzzSAngjwvStSFfKhyar28fcjilu51RMdqAM3U7jOQDVPTow0pkIyB0qK4kMkhI9av2kf\nlwDjrQBp25yc4qwudvPrUdqo25qyPuigCNl4PpUMEzWVyVAykhyPY1YkbCVUlHmLtP4UgJL+KWO6\nF4gCnjcP61YUJqVqyvtORhh9aNPuBcoba45deBnuKpyrJpF4GUboH7moY7nn+taA+k3bBAzWrNlW\nP8J9DWZ5IPtXr9zDbana8hXV+MH+tcPrXhqbTy0kAMkPoOoq1LQZyTxYOKiZSKuyLtJBH51A65p3\nGUzkE00uPSpnQg1G0eaYupGTzQTkYFO8unLHg9KYmM2nGaQjnFSkYoSJnbNCE0NVfXrTuatiAKue\n9NMfHSgLEaJgZ71RvmLSBB0FbEVuWFVbbT2vdbitVGdzDcfQU0N7HpfgDTxZ+HYi4w8pMh49elXp\nl+06tHn7q4q7CqWOmYXgImFAqnpsRllklJOFHNZN3YrWRBqQBnlXrniucmtwH49a6Al5ppGPOTVC\n4iwzDuKtCH2mfsxU+lc\/q0O5QR1Bro7MgjFZd6gbeh4wTTGZFgpRuDW7EMqKzYYwkg75rVgXkCgT\nFji+YcdTVxJDHMPSmRqA59qST7+aBGwrAqCKsQkH2rHt7jBCk1qRMCMg0ALd2UdxEysuc1yF\/ps1\nrISo3Rk9T2rtQ5zjNV7m2WZCrAYNNMGjhlR2yuOnpTG3x8Ln3q7qFhLZS\/uw2wnOapmRuuzJqiC7\ndPulY+lR6MPNvQfU1DeS7I5Xzz2+tW\/Dic7j2BNZs1Rsthpfxq7bQ7u3FQ28Jkk56VqJtijxSARi\nIkxWFf3GTgHvV69uQFODWHI5eQmgBYITLKPrzWyFwAoFVtOh43sKuoC03HQUAWYTtHTtUuSVxmos\n5YAU92AXFAEMzkuBSYxikxmTNPc0AMkjb5ZYjiRehq8lzFfweTMgWTHzKe3uKqdFB3VHcqzFHUhZ\nB0YVLVwI5YZ9IuNyAyW5PIq\/Ddw3sZyRuPY02K+34gvFCtjg9m\/+vVO503YRJCTyMsBzipsUZ2te\nG4Lk+bFiN26MBwa4u+0y6smIljIU9GHSvQoNR8ltlyMjpn0q9NbWl9AxBUqefWmpDPH2Tjnmmcd6\n7vVPCkTFmh\/dk85XkflXJXmlXVmx3xkpnh15FWmIo\/L2pcU4L3Ip23NMZDsyanjUCm7cVIgxQFiU\nYK4pRHu60zmpreGaaQJEjO57KM0xMCCi4FdX4V8PtBI1\/cJiWUYQH+FfX8ak0TwyRIs94AzLyE7D\n61011dR6fDvY44wF9T2qXIVrlbVpjiO2jHJI49RU6wDTtLkZj83J+tVNKhluLp7+4GAfuBqNWvft\nJW3ifdEvzOw\/lULUGVrf3+pqvegbzjuKcJQgPNQbzJIc88VqSR2jlZAKhvov3zY6HmliYrP7VLej\nc4PcikBnbPlBFXLdhuGTUEYJV0z05oT5WGKYGhG2SxpJDuNNi4BNI5xzQAByHFX7W6IODWZ1NSRv\nzyaQG8s25sg0ye7VBjPNU45TszWRPcPJck5OBTA0prpJR5cgDA1kXkL2zAgB4m+6cdKuRqWkFaUY\nUrtdQcdAaaYmji9RbEKJ3Zs10Ph2PEYJ7iuYuWMt6qjtXY6QmyBfpUMo2FYJ0xUU0+FNMZiq5NUJ\n5uDk4oAgu595wKhhXfIAD9aidskmtCxgwu89TQBoRgIgAPapohsQnuajiQu3sKlJ+YCgCRBjk0x2\nBbFTMNsec1Wz8xNADhgUjc0jHFN3c0gFbGKjbnoal3A9QKR9uOmKYETgSJtfke9Niu5bHggyQf8A\njwpTjPGajfvmkMutHaaim9QCT3HasyW1nsHJjmZB\/CeoP1qGSOSJlkt3KHPIHQ1o6r5n9kPuAJxn\nNQ0O9yjDrLuWjuIztHVl5qV\/IuQdhBPVT2I9CKk02yihtxKZPMd0BYdhWbbQi416UQbo4fL5A9aS\n2Hcr3dlZywv5lsEde6jGay10m3bo8mPpXSahasiPk5+U81ifbf3SYjPJAJrSJLIY9Ls2fYEkd\/TO\nKfc6BKzJsjjgX+JnatRFg0uFm\/icZLNyearzamYpPMdZGXjGV4NDn0BLqT6f4TtipeaR5h1P8K\/4\n10Nnp1rbRhkRVXsAMfrWPaahfX6q8FoWVe5OAKuix1G9VDc3ISPuqUua49DRn1S2tVwDvfoESqMF\nrNqFyk978sWcqlXYNOs7JN5Ayo+8xqhe6gbp\/Itmwn8Tj+QpWb3Fcn1C+Ew+yWhwF4Zh2FUxGsUR\nVR16k0kaBBtA\/wDr1JIP3R61aRJRPOeaSIfeNKvJNMVtruKoCDpMOasXPKofaqpP7wGrcmDbqfSk\ngKERxcsvqKQn99xTGbZcqfU1KQDITTAtwn5aJDxSwj5aJOKAIxxSd6U+1IuaALBcpATntWegBb6m\np7lz5QXtUMBBYCgC9DnIq2Cc1BEtS5waAOKtFM9\/u9673TEAiwfSuP0KEGTcRnmuytyUjJqRsLpx\nnANZFzIWOKt3Mvy5rMdsnd3oAmt4jLMEHIHJrYHACriqtlB5UAY8O3WtC0j3yZPSgCwqCOMDuRzU\nSDdJn0qac4fBpkI4LUAFweiiojwBmmTSgymlDZxQAjnmkXrSMM5pQcUAKzYNGc4Bprg+tA65oADw\neKifninlvmprDmgCF8LCee4qbUnLaeRyM8VBKMxkZ6sBUuqxMLFh1JwPzqJbjQ+0t47K2cqxcdSe\ntUbS7SXU5biKIqNm3Hqat6ZazWcEv2o5GM7c9KrWbwyatO0CfI0eD7HNSug2X7v95aMTz8pritPW\nS+khiD4G\/n6ZrtLwKlpMSAAFOcfSuU0+M2l+iLxg1rEUjU1S2ea3YIdvzqOegHrWjeWQg0pFZfOO\nB8w7VHqCq2lSknnapGK1bbyv7NC2z7ztwNx6n3qOoFHS8W2lYjy2CSQtVV1W9mTCIsY7EnP6Vd0Y\nfupoJF+ZXO7H1qosIAKZIKsR+tOKFchKTSndcyvJk9M4FCMEPHAHpU0uUTmoEHrVpCJ1cnkU5nPl\nnJpEUUSKAhpjII+TUMnyz+zCpIjgmo7j+F\/SgRUBySR61oAb7Q1lIwzIP7rVrW2HtiPakBk3Ixhj\n2NTR84NR3YIRvY0+2O5FPtQBajfBxUjYK5FVd2GqZWyBTACOKQU9hTO9AEc2XYDFLDCQ\/SkD4mNX\nYcNzQImRMKKRs54qTtxTSdvWgZkaLbiK3Qt1Nb5IS2+tZVv\/AAgDgCrd3NsTbnoKkZSuJQW2g8VH\naxfaLtVP3F60wtk57ntWnYQCFAWHJ60AXHC8DPer0KrHGMAk4qkmGlGF4q20x4AwKQEcrFpKdK4i\ngAPWmgZbmqt3IWcjNNAMLFmzVmPAHTPFVo+asDgcUAIaaTjrSk9aYQcZoAUkZ68UoJx1FRk0meOK\nAHZyaVxz+FMHvTnbqTQBA+fKQDqZBj86sascWeNxOSAOfeoQcywDr89O1tytugH3i2Rx3rOQ0Lp4\nuDZSLdA5Y4AY84qjokbQX95G3LAKK1rXzLiwUzKVZhgmqemWxtbq8Vm3kMBn1GKlLYZb1CQGxnXp\nlCP6Vhy+VHqEWACzYzWxqKr9ikJzkrjj61zSR7tVTknB6H2BraJLNy+AGmzkdfLXH1q1ps8U1gEg\nUxADGSuefX3qlqEm2wkA+9kAD8OlXLRxLpnzxmFCpBwcEVG7KRDpDeVcXMZfe2Sdw7\/Macx\/0ib1\nEn8xUGhFVnuCpZkXIBI56mrEx\/0yTPcKefpTiSVrk9BTE5YUly2ZOKdFitBEwYjpTZG\/dmj1pspw\nlIZDDgk0s6Zhb86bB1NSNnaRTEYobbeOD0YA1qWMmEK9ayL7MV3G\/Y8GtGyYlyaQxL1RubHQiqti\nx8vHcGrtz94g9aqQr5czL680xEzHJpUYg00tzQD81IZaByKbnmhelI3Q0xFcZaRsetaMAwvNULYb\npfxrTICigQ\/OFJqHJlYjsKZJJg4z1qaIDbxQMhtfvCo74\/vDRRUjIIv9clbSfd\/CiigCeD7xp\/8A\nFRRSAcP4qz5f9YaKKaAliqY9KKKAGHvT0+5RRQBEwpg6UUUAFJJ900UUANh\/4+Yf96n6rzc2wPTf\nRRWcho0ZuLE44+WsnTCS0xJOSwzRRUlFi\/8A9RIPp\/OsaID+2en8B\/lRRW0diWTaif3a\/wDXUVsR\nfNZsG5G3vRRUDRQ0jiS5A4G6pbk\/6Y3+6KKKcSTPk\/1h+tTxUUVoIl71Hcf6uiikBBB1NTHrRRTA\nw9Y+6v8Av1bsOo+lFFIZLd\/62oB\/rB9KKKYhG+9Th2oooGWV6U1\/umiigRDZffNaQ60UUAQuOfxq\nxF92iigD\/9k=&quot;,&quot;birthdate&quot;:&quot;01-01-1983&quot;,&quot;issuedate&quot;:&quot;10-01-2024&quot;,&quot;barcode&quot;:&quot;&quot;,&quot;title&quot;:&quot;mr&quot;,&quot;telephoneno&quot;:&quot;08080045599&quot;,&quot;height&quot;:&quot;155&quot;,&quot;othername&quot;:&quot;&quot;,&quot;residence_Town&quot;:&quot;YADO&quot;,&quot;residence_lga&quot;:&quot;Bukkuyum&quot;,&quot;residence_state&quot;:&quot;Zamfara&quot;,&quot;self_origin_town&quot;:&quot;YADO&quot;,&quot;self_origin_lga&quot;:&quot;Bukkuyum&quot;,&quot;self_origin_state&quot;:&quot;Zamfara&quot;,&quot;self_origin_country&quot;:&quot;&quot;,&quot;religion&quot;:&quot;islam&quot;,&quot;signature&quot;:&quot;\/9j\/4AAQSkZJRgABAQEAlgCWAAD\/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a\nHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL\/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy\nMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL\/wAARCADIAPoDASIA\nAhEBAxEB\/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL\/8QAtRAAAgEDAwIEAwUFBAQA\nAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3\nODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm\np6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6\/8QAHwEA\nAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL\/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx\nBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK\nU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3\nuLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6\/9oADAMBAAIRAxEAPwD3+iii\ngAooooAKKKKAOf8AHf8AyTzxL\/2Crr\/0U1c38DoIYfhJpDxRRo8zzvKyqAXbznXLep2qoyewA7V3\nGrabDrOjX2l3DSLBe28lvI0ZAYK6lSRkEZwfQ15\/8BtShvvhXZ28SyB7C4mt5SwGCxcy5XnptkUc\n45B+pAPTKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKK\nACiiigAooooAK8n+Dt15XiH4gaHBbwQ2NjrcksCRJt273kQrgcBQIVwABjn2x6xXl\/h26vLT9oTx\nhpz2+y1v9PtrxZHQgv5SRxgqehXLyA9eV6jBoA9QooooAKKKKACiiigAooooAKKKKACiiigAoooo\nAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAryvxQk2mftA+DtUkvY7ez1CymsCvmlN7\nIHYK3QEFpYtoycsOmQM+qV5P8bvsel\/8If4ouvPb+ytbizHFg7oz+8fg4y37lccgcnPsAesUUUUA\nFFFFABRRRQAUUUUAFFc34l8feF\/CFxBb67q0drPOheOMRvI20HGSEUkDOQCcZwcdDWH\/AMLt+Hn\/\nAEMP\/klcf\/G6APQKK8\/\/AOF2\/Dz\/AKGH\/wAkrj\/43R\/wu34ef9DD\/wCSVx\/8boA9AorP0TW9O8R6\nPBq2k3H2ixn3eXLsZN21ip4YAjkEcitCgAooooAKKKKACiiigAooooAKKKKAPnzxj8fde0bxjqul\n6Tp+mtZ2Vw1urXcLmQsnyuTtkAxuDY4HGM81l2f7SPiRJSb3RtKmj+XCwiSI\/eBbks3VdwHHBIPI\nG09f8EvAPh+4+H8WsanpdjqV1qMsjg3dssnlIjGMIN2R1VmyAM7gDnaK7zUvhj4I1W3WC48MaaiK\n4cG1hFu2cEctHtJHPTOOnoKAI\/CPxO8LeNNsWm33lXxz\/oN2BHN\/F0GSH4Ut8pbAxnFdhXzR4x+B\nOu+Hbz+1fB8099awbZUQSBbyFlBYsuAA2CoI2\/NlgApxk7fw\/wDj\/D9n+weNpJBOHJj1KKAFSuCc\nSIgyCDgAqpzkZAwWIB75RVexv7PU7OO8sLuC7tZM7JoJBIjYJBww4OCCPwqxQAV538b9KXU\/hXqb\n\/ZpJ57J4rqHZuJQhwrvgdQI2kzngDJ7ZHolZfiXTZtZ8K6vpdu0az3tlNbxtISFDOhUE4BOMn0NA\nEmhan\/bfh7TNW8nyft1pFc+Vu3bN6BtucDOM4zgVoV4n8NPiz4S0X4eaRpuu69ImoWySI6PBPIVX\nzG2DcFIwE2gAHgYHavRPD3xF8I+Krw2ej63BPdDpC6vE78E\/KrgFsBSTtzjvigDqKKKKACiiigAr\n54+JvxV1TX9cj8NeAbq+kVNyzz6cNz3TjDYiKjftUKfmUjdluqgE+p\/FTxbN4M8B3mo2c0cWoSul\nvZl4y48xjycdMhA7DdxlRnPQ5fwe+H9v4Q8L29\/dWu3XdQiD3LyA74kJysQBAKYG3cP7wOSQFwAe\nUaV8AvGOt\/bb3XLuDT7p\/MdRcS\/aJJ5TgguyEgKxJy2S2R905rt7H9m7w3HZxrf6zqs90M75IDHE\njcnGFKsRxj+I+vHSvaKKAPH\/APhnHwf\/ANBLXP8Av\/D\/APGqz9Z\/Zu0d9Of+w9Zvor4ZK\/bikkb8\nHCnYqlcnHzfNgZ+U17hRQB86fCc+I\/AHxUfwRq0cgt79JGEYf90WVCyzxkjkFYyvGOvzcpgfRdU5\nNJ02bVIdUl0+0fUIU2RXbQqZUXnhXxkD5m4B7n1q5QAUUUUAFFFFABRRRQAUUUUAFFFFAHN\/D6CG\n2+HPhtIIo4kOmW7lUUKCzRhmPHcsSSe5JNdJXF\/CXUptV+Ffh+4nWNXS3NuAgIG2J2iU8k87UBPv\nnp0rtKACvO\/HPwd8OeMUkuIIo9K1Z3DG9t4sh\/mJbfGCA5O4ndw2cckDB9EooA+UPt3j34F6x9gM\nkD2d1++VGUy2lyduCVJ2srLkZxtPC5yu3PqelftD+EL17eK\/ttS093TMsjxLJFE23JGUJdhngHZ3\nGQOceqX1hZ6nZyWd\/aQXdrJjfDPGJEbBBGVPBwQD+FeVz\/s6+DZriWVLvWYEdyyxR3EZVAT90boy\ncDpySfUmgAn\/AGivBsNxLElprM6I5VZY7eMK4B+8N0gOD15APqBXlGt\/Ezxv8Sb\/APsHThJDFe3D\niGxsiVZkZNvlu\/G5AoZmJwPmYngKF9Xg\/Z18Gw3EUr3eszojhmikuIwrgH7p2xg4PTgg+hFekaJ4\nb0Xw5b+Ro2l2lihREcwxBWkCjC726uRk8sSeT60AfNHw++FNtrXjHV\/Dniy4u9P1Cwt0mFpasjMw\nbaSxkwyYAZOOp3jn5SK2L34O+KvA\/jHTdX8MXMd5ANTijtSRKZI1bOTcCNcCIDKuwPIPQZwOv8TS\nN4R\/aG8P6xHDJHZ+ILcWNy6FXM8udgGGOVCn7MSRjgHGTuB9koAKKKKACiiigDx\/4t\/8VH458E+C\n0\/0iGe7+239n9zdCpxu38Y+QXHCtn2ztr2CvI9FhbxF+0brupyGO7s9BsktbaVJFxbyuoynynLHL\nXIOc4OQcELXrlABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAeR\/Bcw6Dqni\/wAFeXJE\n+nam89v9ocCWaFsIG24GQFSM7hwfNXpxn1yvF\/F14ngf4\/aJ4gkH2XTNbtPsl7OXUiRwduW3H5FX\n\/RiSMcKevzA+0UAFFFFABRRRQAUUUUAeb\/G7wwniD4dXd1HB5l9pX+lwsNoIQf60En+HZliARkov\nXGD0Hw88Tp4u8DaZqnn+ddGIRXhO0MJ1GHyq8Lk\/MBx8rKcDNdJPBDdW8tvcRRzQSoUkjkUMrqRg\ngg8EEcYrwDw3qE3wh+L174c1OeO08M6q7zWoM5aKBWY+VISQSD8vltkj+8SQoNAH0HRRRQAUUUUA\neT\/B2183xD8QNcguIJrG+1uSKB4n3btjyOWyOCpEy4IJzz7Z9YryP4OzNpPiXxv4SlEcQs9Ta6to\n3jWKWRHJUvsUKuzakJG1QBvHYqK9Q1HVbHSUt3v7mOAXFxHaw7uskrttVFHUkn8gCTgAmgC5RRRQ\nAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAcH8X\/Ck3i34fXdvaCRryycXtvGmT5rIGBTABJJ\nVnAAxltvOM1ofDbxQ3i\/wHpuqzyRtebDDd7XUnzUO0lgAApYAPtwMBx2wa6yvH\/g9\/xS\/ijxd4Cm\n+T7Hd\/bbMP8ANJJCwC7mZfl+55BxgHLnjjAAPYKKKKACiiigAooooAK8\/wDi34A\/4Trwv\/oce7Wb\nDdJZZl2K2Su9Dnj5goxnGGC8gZz6BRQB5H8G\/iNNrNvJ4W8SXMi+IrJ2SMXKFJJ41HIYk5MqkNuB\nAJAB5IY165Xz\/wDGH4d6ppGsXHj3wrNPC3Ml6lofKktztw0yFMEqRkv3BLMcgnbzkH7RXjKG3iie\n00ad0QK0slvIGcgfeO2QDJ68AD0AoA+n554bW3luLiWOGCJC8kkjBVRQMkkngADnNeX6r+0B4N0z\nVLixSPUr4QPs+0WkUbROe+0s4JGeM4wcZGRgnyCbX\/iH8ZdUGlwNJ9jZ1WWC1VorSAHB3SnkkZjL\nDeWOQdozxXrfhj4CeFdP0OGLxBa\/2pqZ+eeZZ5Y0Un+BArL8o9SMnk8ZCgA8w1n4tWdt8UH8Y+Fr\nCdPtGnm2u4b4AedJghWOGbCjbCcKVJ2EcZJMngSw8b\/E\/wAa6f4h1C+kubPSL2GeSa6YpEpVkLRx\nIo2hyqgkAAcAsQSM9\/4z+A2gT+H72XwtYyW+rKiNbxNdsY3Kk7l+fPLK2OSBlE5UbsnwS+IE2oW7\neDde8u21TTEENokimOSWNAQYyuAN8YUD1I7fKxIB7JRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRR\nRQAUUUUAFeR+MhD4Z+Ovg7XlkkRNYSTTrmG3QKZW4RGc5G8bpYuvQRDGcAD1yvL\/AI9Wt5J8Oo9R\nsrjyJNL1CC8MiuVdfvRqUI\/iDSKe3Q85oA9QoqvYX1vqenW1\/ZyeZa3USTQvtI3IwBU4PIyCOtWK\nACiiigAooooAKKKKACubk+H3g2V4XbwrowMT7122UagnaV+YAYYYY8HIzg9QCOkooAr2NhZ6ZZx2\ndhaQWlrHnZDBGI0XJJOFHAyST+NWKKKACvC\/jj8P5g\/\/AAneg\/a11CB0a9EDHKqi\/LOpzlSm1Qdv\nbDcbWJ90ooA4P4Z\/Eyx8f6WUcR22tW6A3VoDwR08yPPJQnt1UnB6gt3lfP8A8RPhZqnhjXIvGHw+\ninjdJQ8llZpueBzxuiQA7oznDJg4yeChIXpPhh8Z7HxLb2uj+IZ47XXi4hjkK7Y7wkHBBAwjnGCp\nwCSNvXaAD1yiiigAooooAKKKKACiiigAooooAKKKKACiiigArD8ZaU2ueCtb0yK2juZ7iylSCJ9u\nGl2ny\/vcAhtpBPQgHjFblFAHn\/wW1v8Atv4X6XvuPOuLHdZS\/Jt2bD8i9ADiMx8jPuc5r0CvK\/gx\nJY2Nx418OWUMkSabrszIpOVETEoigkkkjyTnPtyeceqUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUU\nAFeJ\/Ez4GQ6y41XwhDaWV2EImsABFFNheDHgYRzgDHCnOSVIJb2yigD5s8MfFbxX8PdZfRfHtvqV\n1aBG2iZQ1xGQzfOjsR5qFsjJYjAG04GD734e8VaF4rszdaHqcF7Gv3whIePJIG5DhlztOMgZxkcV\nT8V+A\/DnjO3Kazp0ck4TbHdx\/JPHw2MOOSAWJ2nK55INfPl98LfiL8PtWk1Pw6091HFgrdaY+Xdf\nMGEeH7zdFLLh19SQDQB9T1j+HfE+l+KrO6utJn86G2u5bSRh0LoeqkZDKQVYEE5DDocgfLkPxY+J\nuuOdMs9Xu7me4RkEVpZReaw2nO3Ym4EDJyORjPGK+g\/hP4OuPBPgaGwvuL+4la6ukDh1jdgAFBA7\nKq56\/NuwSMUAdxRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHmfg+axs\/jX8QNMiEcM9wlldJEkeAwE\nX7x+BjO6VSc8ksTzzXpleP8Ah7\/k6HxZ\/wBgqP8A9Bta9goAKKKKACiiigAooooAKKKKACiiigAo\noooAKKKKACiiigCOOCGF5niijR5n3ysqgF22hct6naqjJ7ADtUlFFABRRRQAUUUUAFFFFABRRRQA\nUUUUAFFFFAHj\/h7\/AJOh8Wf9gqP\/ANBta9gry\/wha2d98dPHurxXHmSWsVpZr5bgp80a+YD\/ALSt\nAB14+YEZ6eoUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUU\nAFFFFABRRRQAUUVh+MdfXwt4O1XWmaMPa27NF5isytKfljUhecFyo7deo60Aef8AwWjW+1nx34jt\nZo5dP1LWGW3YBgxCs77iCBgFZkx365A7+uV538EtAbQfhlYtKsiz6i7XzqzKwAcAIVx0BjVDg5OS\nenQeiUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFA\nBRRRQAV4\/wDHe\/8A7Qs9B8F2V35epaxqEWU8zCCPJRfNA52l2Ujgg+Wx6rRRQB6xYWNvpmnW1hZx\n+Xa2sSQwpuJ2ooAUZPJwAOtWKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKA\nCiiigAooooAKKKKACiiigAooooA\/\/9k=&quot;,&quot;email&quot;:&quot;&quot;,&quot;birthcountry&quot;:&quot;nigeria&quot;}">
                                                    <button type="submit"
                                                        class="btn btn-primary btn-md">Download</button>
                                                    <a href="https://idpass.com.ng/verification/nin"
                                                        class="btn btn-danger btn-md">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>


        </div>
    </div>


    <!-- BEGIN VENDOR JS-->
    <script src="/static/js/vendors.min.js.download" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="/static/js/icheck.min.js.download" type="text/javascript"></script>
    <script src="/static/js/jqBootstrapValidation.js.download" type="text/javascript"></script>
    <script src="/static/js/sweetalert.min.js.download" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="/static/js/app-menu.js.download" type="text/javascript"></script>
    <script src="/static/js/app.js.download" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="/static/js/sweet-alerts.js.download" type="text/javascript"></script>


    <script src="/static/js/app-invoice.js.download"></script>

    <script src="/static/js/loadingoverlay.min.js.download"></script>
    <!-- END PAGE LEVEL JS-->




    <script>
        $(document).ready(function () {
            // Event handler for button click
            $('.actionBtn').click(function () {
                $.LoadingOverlay("show");
            });
        });
    </script>



</body>

</html>
