<div class="containter text-center mx-3 my-3 d-print-none" data-html2canvas-ignore="true">
    <div id="capture-div" class="gap-1 text-center mx-auto">
        <button type="button" class="btn btn-primary" id="capturePDF">Download PDF</button>
        <button type="button" class="btn btn-secondary" id="captureIMG">Download PNG</button>
        <button type="button" class="btn btn-danger" onclick="window.print()">Print</button>
        <a href="" target="_blank" class="btn btn-info">Open Window</a>
    </div>
</div>