<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
	<head>
		<title>WA MSN</title>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<%= msgs.forEach((msg) => ( %>
						<td>
							<%= msg %>
						</td>
					<%= )) %>
				</tr>
			</tbody>
		</table>
	</body>
</html>
